@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Russo+One&display=swap');

html {
  scroll-behavior: smooth;
}

body {
overflow: hidden;
cursor: crosshair;
margin: 0;
-webkit-user-select: none; /* Für Webkit-Browser */
-moz-user-select: none; /* Für Firefox */
-ms-user-select: none; /* Für Internet Explorer und Microsoft Edge */
user-select: none; /* Standard */
}

h1 {
    background-image: url(images/back-img.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Russo One', sans-serif;
    font-size: 300px;
    display: flex;
    justify-content: center;
    transform: translateZ(-5px) scale(1.5);
}

h2 {
  background-image: url(images/back-img.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Russo One', sans-serif;
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding-top: 0px;
  transform: translateZ(-10px) scale(2);
  z-index: 1;
  text-align: center;
  margin-bottom: 20px; /* Neuer Code: Fügt einen Abstand zwischen h2 und text-content hinzu */
}


.wrapper {
  position: relative;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  perspective: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
  min-height: 100vh; /* Mindesthöhe des .wrapper auf 100% der Viewport-Höhe */
}

.wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.bottom-img {
  position: absolute;
  height: 120%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-20px) scale(3);
}

.bottom-img-before {
  position: absolute;
  height: 120%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-20px) scale(3);
  filter: invert(100%);
}

.text-content {
  position: absolute;
  top: 1890px;
  bottom: 0;
  margin: 0;
  left: 2px;
  font-size: 18px;
  color: white;
  transform: translateZ(-20px) scale(3);
  width: 40%;
}